*,
::after,
::before {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
html,
body {
   
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../img/bg.png);
    padding-bottom: 5em;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 1440px) {
    html,
    body {
        font-size: 20px;
    }
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}
