*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(../img/bg.png);
  padding-bottom: 5em;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 1440px) {
  html,
  body {
    font-size: 20px;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-container {
  text-align: center;
  margin-top: 50px;
}

.header-container__item {
  margin-bottom: 1.5em;
}

.header-container__item img {
  width: 100%;
  max-width: 500px;
}

.header-container__item h1 {
  color: #2993b2;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.header-container__item .h1-span {
  color: #383d41;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.8px;
}

.blue-bg-container {
  max-width: 650px;
  margin: 0 auto;
  background-color: #2993b2;
  color: #fff;
  padding: 1.5em 0;
}

.blue-bg-container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: .75em;
}

.blue-bg-container .blue-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blue-bg-container .blue-bg__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.blue-bg-container .blue-bg .blue-name {
  font-size: 1rem;
}

.blue-bg-container .blue-bg .blue-number {
  font-size: 2rem;
}

@media (max-width: 425px) {
  .blue-bg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blue-bg__item:not(:first-child) {
    margin-top: 1em;
  }
}

.search {
  margin-top: 2.5em;
}

h3 {
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #383d41;
  margin-bottom: 1em;
}

.search-position {
  max-width: 650px;
  margin: 0 auto;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3em;
}

.search-form__input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.search-form__input input {
  width: 100%;
  height: 2rem;
  padding-left: 15px;
  outline: #08d85856;
  border: none;
}

.search-form__input ::-webkit-input-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.search-form__input ::-moz-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.search-form__input :-moz-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.search-form__input :-ms-input-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
}

.search-form__btn {
  height: 2rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #08d856;
}

.search-form__btn button {
  background-color: #08d856;
  border: none;
  height: 2rem;
  width: 100%;
  outline-color: #11da5ec2;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.search-form__btn button:hover {
  background-color: #06f762;
  cursor: pointer;
}

.search-form__btn span {
  color: #fff;
  font-size: 1.1rem;
}

@media (max-width: 425px) {
  .search-form__input {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
  .search-form__btn {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.search-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1070px;
  margin: 0 auto;
  font-size: 1rem;
}

.search-answer__answer {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  text-align: center;
  background-color: #ffffff85;
}

.search-answer__answer span {
  display: inline-block;
  padding: .5em 0;
}

.main-btn-container {
  font-size: 1rem;
}

.main-btn-container__look {
  background-color: #019cd6;
  font-size: 1rem;
  outline-color: #019dd681;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.main-btn-container__look:hover {
  background-color: #06b5f5;
  cursor: pointer;
}

.main-btn-container__look span {
  display: inline-block;
  padding: .5em 2em;
  color: #fff;
}

.main-btn-container__post {
  background-color: #08d856;
  font-size: 1rem;
  margin-left: -5px;
  outline-color: #11da5ec2;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.main-btn-container__post:hover {
  background-color: #06f762;
  cursor: pointer;
}

.main-btn-container__post span {
  display: inline-block;
  padding: .5em 2em;
  color: #fff;
}

.main-btn-container__delete {
  background-color: #d63301;
  font-size: 1rem;
  margin-left: -5px;
  outline-color: #d6330191;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.main-btn-container__delete:hover {
  background-color: #f13a02;
  cursor: pointer;
}

.main-btn-container__delete span {
  display: inline-block;
  padding: .5em 2em;
  color: #fff;
}

@media (max-width: 592px) {
  .search-answer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .search-answer__answer {
    width: 100%;
  }
  .main-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .main-btn-container__look {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .main-btn-container__look span {
    padding: .5em 0;
  }
  .main-btn-container__post {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .main-btn-container__post span {
    padding: .5em 0;
  }
  .main-btn-container__delete {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
  .main-btn-container__delete span {
    padding: .5em 0;
  }
}

.inquiries-container {
  margin-top: 2.5em;
}

.inq-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 650px;
  margin: 0 auto 1em;
  font-size: 1rem;
}

.inquiries-number {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff85;
}

@media (max-width: 592px) {
  .inq-position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inq-position .inquiries-number {
    padding: 0.8em 0;
  }
  .inq-position .main-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .inq-position .main-btn-container__look {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .inq-position .main-btn-container__look span {
    padding: .5em 0;
  }
  .inq-position .main-btn-container__delete {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .inq-position .main-btn-container__delete span {
    padding: .5em 0;
  }
}

.question-container {
  margin-top: 2.5em;
}

.question-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 650px;
  margin: 0 auto 1em;
  font-size: 1rem;
}

.question-number {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff85;
}

@media (max-width: 592px) {
  .question-position {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .question-position .question-number {
    padding: 0.8em 0;
  }
  .question-position .main-btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .question-position .main-btn-container__look {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .question-position .main-btn-container__look span {
    padding: .5em 0;
  }
  .question-position .main-btn-container__delete {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
  .question-position .main-btn-container__delete span {
    padding: .5em 0;
  }
}

.search-form-add {
  display: none;
  width: 100%;
  font-size: 1rem;
  max-width: 650px;
  margin: 0 auto;
}

.search-form-add h3 {
  text-align: left;
}

.search-form-add .div-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.search-form-add .div-input span {
  color: rgba(0, 0, 0, 0.575);
  margin-left: 10px;
  margin-bottom: 2.5px;
}

.search-form-add .div-input input {
  padding: .4em .9em;
  height: 40px;
  font-size: .9em;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 2px;
  outline: none;
  font-family: inherit;
  background-color: #fcfcfc;
}

.search-form-add .div-input textarea {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3.5em;
  font-family: inherit;
  font-size: .9rem;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 2px;
  resize: none;
  outline: none;
  background-color: #fcfcfc;
}

.search-form-add .select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  background: transparent;
  display: inline-block;
  width: 100%;
  border: 1px solid #a7a7a7;
  color: #32353a;
  font-family: 16/Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: normal;
  padding: 7px 10px 7px 10px;
  height: 36px;
  vertical-align: top;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
}

.search-form-add ::-webkit-input-placeholder {
  color: #000;
  font-size: .9rem;
}

.search-form-add :-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  font-size: .9rem;
}

.search-form-add ::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  font-size: .9rem;
}

.search-form-add :-ms-input-placeholder {
  color: #000;
  font-size: .9rem;
}

.form-add-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px;
}

.form-add-btn-container div {
  padding: 0 8px;
  width: 100%;
}

.form-add-btn-container div button {
  width: 100%;
  padding: 1em 0;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.form-add-btn-container div button:hover {
  cursor: pointer;
}

.form-add-btn-container .done {
  background-color: #29b133;
}

.form-add-btn-container .done:hover {
  background-color: #31ca3b;
}

.form-add-btn-container .dismiss {
  background-color: #b22c29;
}

.form-add-btn-container .dismiss:hover {
  background-color: #cc322f;
}

@media (max-width: 425px) {
  .form-add-btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-add-btn-container .dismiss {
    margin-top: 8px;
  }
}

@media (max-width: 425px) {
  #request-form {
    padding: 10px;
  }
}

.request-form {
  display: none;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.request-form h4 {
  text-align: left;
  text-transform: uppercase;
  -webkit-columns: rgba(0, 0, 0, 0.555);
          columns: rgba(0, 0, 0, 0.555);
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.request-form .invest-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10px;
}

.request-form .invest-container .invest {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.request-form .invest-container .invest input:first-child {
  width: 100%;
  margin-right: 0.2em;
}

.request-form .invest-container .invest input:last-child {
  margin-left: 0.2em;
}

.request-form div {
  margin-top: 0.5em;
}

.request-form div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(0, 0, 0, 0.753);
}

.request-form div input {
  width: 100%;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  outline: none;
  border: none;
}

.request-form ::-webkit-input-placeholder {
  font-size: 1rem;
  color: black;
}

.request-form ::-moz-placeholder {
  font-size: 1rem;
  color: black;
}

.request-form :-moz-placeholder {
  font-size: 1rem;
  color: black;
}

.request-form :-ms-input-placeholder {
  font-size: 1rem;
  color: black;
}

@media (max-width: 425px) {
  #quest-form {
    padding: 10px;
  }
}

.quest-form {
  display: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.quest-form h4 {
  text-align: left;
  text-transform: uppercase;
  -webkit-columns: rgba(0, 0, 0, 0.555);
          columns: rgba(0, 0, 0, 0.555);
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.quest-form div {
  margin-top: 0.5em;
}

.quest-form div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgba(0, 0, 0, 0.753);
}

.quest-form div input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: none;
}

.quest-form ::-webkit-input-placeholder {
  font-size: 1rem;
  color: black;
}

.quest-form ::-moz-placeholder {
  font-size: 1rem;
  color: black;
}

.quest-form :-moz-placeholder {
  font-size: 1rem;
  color: black;
}

.quest-form :-ms-input-placeholder {
  font-size: 1rem;
  color: black;
}

@media (max-width: 425px) {
  #search-form-look {
    padding: 10px;
  }
}

.search-form-look {
  display: none;
  width: 100%;
  font-size: 1rem;
  max-width: 650px;
  margin: 0 auto;
}

.search-form-look h3 {
  text-align: left;
}

.search-form-look .div-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.search-form-look .div-input span {
  color: rgba(0, 0, 0, 0.575);
  margin-left: 10px;
  margin-bottom: 2.5px;
}

.search-form-look .div-input input {
  padding: .4em .9em;
  height: 40px;
  font-size: .9em;
  border: none;
  border-radius: 2px;
  outline: none;
  font-family: inherit;
}

.search-form-look .div-input textarea {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3.5em;
  font-family: inherit;
  font-size: .9rem;
  border: none;
  border-radius: 2px;
  resize: none;
  outline: none;
}

.form-add-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -8px;
}

.form-add-btn-container div {
  padding: 0 8px;
  width: 100%;
}

.form-add-btn-container div button {
  width: 100%;
  padding: 1em 0;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.form-add-btn-container div button:hover {
  cursor: pointer;
}

.form-add-btn-container .done {
  background-color: #29b133;
}

.form-add-btn-container .done:hover {
  background-color: #31ca3b;
}

.form-add-btn-container .dismiss {
  background-color: #b22c29;
}

.form-add-btn-container .dismiss:hover {
  background-color: #cc322f;
}

@media (max-width: 425px) {
  .form-add-btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-add-btn-container .dismiss {
    margin-top: 8px;
  }
}

::-webkit-input-placeholder {
  color: #000;
  font-size: .9rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000;
  font-size: .9rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000;
  font-size: .9rem;
}

:-ms-input-placeholder {
  color: #000;
  font-size: .9rem;
}
/*# sourceMappingURL=style.css.map */